<nav>
  <figure>
    <img src="/images/jot.png" alt="logo" />
  </figure>

  <div class="links">
    <ul>
      <li><a href="/jots"> > jots </a></li>
      <li><a href="/jots/create"> > create </a></li>
    </ul>

    <form action="/logout" method="POST">
      <button type="submit" class="button"> logout </button>
    </form></div>

</nav>