<nav>
  <figure>
    <img src="/images/jot.png" alt="logo" />
  </figure>

  <ul>
    <li><a href="/jots"> > jots </a></li>
    <li><a href="/jots-create"> > create </a></li>
    <li><a href="/jots"> > logout </a></li>
  </ul>
</nav>