<div class="create header">
  <div class="container">
    {{> nav}}

    <form class="create-form">

      <div class="submit">
        <img src="/images/icons/checkmark.svg" alt="checkmark">
      </div>

      <textarea
        class="textarea"
        id="title"
        type="text"
        placeholder="title .."
      ></textarea>

      <textarea
        class="textarea"
        id="subtitle"
        type="text"
        placeholder="subtitle .."
      ></textarea>

      <div class="options">
        <span>
          <input type="radio" name="option" value="general" />
          <label for="general"> general</label>
        </span>

        <span>
          <input type="radio" name="option" value="todo" />
          <label for="todo"> todo</label>
        </span>

        <span>
          <input type="radio" name="option" value="random" />
          <label for="random"> random</label>
        </span>

      </div>

      <textarea
        class="textarea"
        id="content"
        placeholder="jot it down .."
      ></textarea>

    </form>
  </div>
</div>

<script src="/js/create.js"></script>