<div class="create header">
  <div class="container">
    {{> nav}}

    <form class="create-form">

      <button type="submit" class="submit" disabled>
        <img src="/images/icons/checkmark.svg" alt="checkmark" />
      </button>

      <textarea
        class="textarea"
        name="title"
        id="title"
        type="text"
        placeholder="title .."
      ></textarea>

      <p class="error title"></p>

      <textarea
        class="textarea"
        name="subtitle"
        id="subtitle"
        type="text"
        placeholder="subtitle .."
      ></textarea>

      <p class="error subtitle"></p>

      <div class="options">
        <span>
          <input type="radio" name="category" value="general" />
          <label for="general"> general</label>
        </span>

        <span>
          <input type="radio" name="category" value="todo" />
          <label for="todo"> todo</label>
        </span>

        <span>
          <input type="radio" name="category" value="random" />
          <label for="random"> random</label>
        </span>

      </div>

      <p class="error category"></p>

      <textarea
        class="textarea"
        name="content"
        id="content"
        placeholder="jot it down .."
      ></textarea>

      <p class="error content"></p>

    </form>
  </div>
</div>

<script src="/js/create.js"></script>