<div class="background">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consequuntur
    deserunt commodi pariatur quam veritatis aspernatur deleniti facilis
    accusantium ullam.
  </p>

  <a href="/signup">Get Started</a>
</div>