{{> simpleNav}}

<div class="container login">

  <h2>Login</h2>

  <p class="text">
    Welcome back! Login to your account to jot down your thoughts and ideas.
  </p>

  <form id="form">

    <input type="email" name="email" placeholder="Email" />
     <p class="error email"></p>

    <input type="password" name="password" placeholder="Password" />
     <p class="error password"></p>


    <button type="submit" disabled class="button submit">Login</button>

  </form>

</div>

<script src="/js/login.js"></script>