{{> _simpleNav}}

<div class="container login">

  <h2>Login</h2>

  <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit
    dignissimos.</p>

  <form action="">

    <input type="text" name="name" placeholder="Name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />

    <button class="button">Login</button>

  </form>

</div>