{{> simpleNav}} 

<div class="container signup">

  <h2>Create Account</h2>

  <p class="text">
    Jot down your thoughts and ideas. Create an account to get started.
  </p>

  <form id="form">
    <input type="text" name="name" placeholder="Name" />
    <p class="error name"></p>

    <input type="email" name="email" placeholder="Email" />
    <p class="error email"></p>

    <input type="password" name="password" placeholder="Password" />
    <p class="error password"></p>

    <button type="submit" disabled class="button submit">Submit</button>

  </form>

</div>

<script src="/js/signup.js"></script>