{{> simpleNav}}

<div class="container signup">

  <h2>Create Account</h2>

  <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit
    dignissimos.</p>

  <form>

    <input type="text" name="name" placeholder="Name" />
    <p class="error name"></p>

    <input type="email" name="email" placeholder="Email" />
    <p class="error email"></p>

    <input type="password" name="password" placeholder="Password" />
    <p class="error password"></p>

    <button class="button">Submit</button>

  </form>

</div>