@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --dark: #373736;
    --medium-dark: #3737365c;
    --grey: #F2F3F5;
    --border: rgba(255, 205, 134, 0.26);
    --border-left: rgba(55, 55, 54, 0.23);
    --light-grey: rgba(55, 55, 54, 0.55);
}

.background {
    background-image: url('https://images.unsplash.com/photo-1515787366009-7cbdd2dc587b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.home .content {
    position: relative;
    display: grid;
    gap: 1rem;
    width: 200px;

    left: 4.8rem;
    top: -4rem;
}

figure.jot {
    width: 200px;
    height: 200px;
}

figure.jot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    font-weight: 300;
    font-size: .9rem;
    color: var(--dark);
}



.button {
    text-decoration: none;
    background-color: var(--dark);
    color: #fff;
    padding: .6rem 1rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: black;
}

button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}



/* SIGNUP */

.signup,
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    height: 80vh;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1.5rem;
}

form input {
    width: 100%;
    padding: .5rem 0;
    border: none;
    border-bottom: 1px solid var(--medium-dark);
}

input:focus {
    outline: none;
}

input ::placeholder {
    font-weight: 300;
}

form .error {
    color: red;
    font-size: .8rem;
    font-weight: 400;
    margin-top: -1rem;
}



form .button {
    width: 100%;
}

/* SIMPLE NAV */

.simple-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.simple-nav figure {
    width: 90px;
}

.simple-nav figure img {
    width: 100%;
    height: 100%;
}

.dashboard {
    width: 100%;

}

.header nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.header nav figure {
    width: 60px;
}

.header nav figure img {
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.header nav ul li a {
    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
    font-size: .9rem;
}

.header .links {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
    width: calc(100% - 60px);
}

.header .links form {
    width: fit-content;
}


/* CREATE */

.create-form {
    padding-top: 1.8rem;
    gap: 1rem;
    width: 90%;
    position: relative;
}

.create-form .submit {
    background-color: var(--dark);
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 1rem;
    right: -1.5rem;
}

.create-form .submit img {
    width: 18px;
    height: 18px;
}

.create-form #title {
    font-size: 1.8rem;
    font-weight: 700;
    height: 32px;
}

.create-form #subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    height: 28px;
}

.create-form #content {
    height: 24px;
    font-size: clamp(.9rem, 3vw, 1rem);
}

.create-form ::placeholder {
    color: var(--light-grey)
}

.create-form .options {
    display: flex;
    gap: .8rem;
    border-left: 8px solid var(--border-left);
    padding-left: 10px;
    color: var(--light-grey);
    font-style: .9rem;
    font-weight: 500;
}

.create-form .options span {
    display: flex;
    align-items: center;
    gap: .2rem;
}

input[type='radio'] {
    accent-color: var(--dark);
    cursor: pointer;
}

.create-form textarea {
    border: none;
    border-left: 10px solid var(--border-left);
    padding-left: 10px;
    color: var(--dark);
    resize: none;
}

.create-form textarea::-webkit-scrollbar {
    display: none;
}

.create-form textarea:focus {
    outline: none;
}

@media (min-width :400px) {
    .home {
        align-items: center;
    }

    .home .content {
        width: 220px;
        left: 5.5rem;
    }

    .create-form {
        max-width: 500px;
        margin: 0 auto;
    }

    .create-form .submit {
        top: 1.9rem;
        right: -2rem;
    }

}